<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743325583272-mthfb6qnt9mh1ln3uas3ge1lf2hrhrjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743325583272-mthfb6qnt9mh1ln3uas3ge1lf2hrhrjk</string>
	<key>API_KEY</key>
	<string>AIzaSyAxL3pVknJ1RkLcFxg-yXF_wLlxJogbBl0</string>
	<key>GCM_SENDER_ID</key>
	<string>743325583272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.markSheet</string>
	<key>PROJECT_ID</key>
	<string>mark-sheet-49547</string>
	<key>STORAGE_BUCKET</key>
	<string>mark-sheet-49547.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743325583272:ios:4d804f6beef2a31a017f9d</string>
</dict>
</plist>